<h1>Triage Reports</h1>
<%= link_to 'Home', root_path %>
<!-- <%= link_to 'Reports', reports_path %>  -->
<%= link_to 'Plans', plans_path %>
<%= link_to 'Branches', branches_path %>
<%= link_to 'New Report', new_branch_path %>