<div><h2>Triage reports for this week</h2></div>
<p id="notice"><%= notice %></p>

<% @table.keys.each do |branch| %>
<div class='report' id='<%= branch %>'>
	<div>
		<span class='title'><%= branch %></span>
		<a href='#' class='toggle-table'>Toggle table</a> <br>
	</div>
	<div>
<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th>Owner</th>
      <th>Url</th>
      <th>Build</th>
      <th>Pass</th>
      <th>Fail</th>
      <th>Error</th>
      <th>Pass%</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @table[branch].each do |plan| %>
    <% report = plan.reports.find_by('created_at >= ?', Time.zone.now.beginning_of_week) %>

      <tr>
        <td><%= link_to plan.title, plan_path(plan) %></td>
        <td><%= plan.owner %></td>
        <% if report != nil %>
        <td><a href='<%= report.url %>' target='_blank'><%= report.url %></a></td>
        <td><%= report.build %></td>
        <td><%= report.pass %></td>
        <td><%= report.fail %></td>
        <td><%= report.error %></td>

        <% pass_rate = (report.pass.to_f / (report.pass.to_f + report.fail.to_f)) * 100 %>
        <td><%=  '%.2f' % pass_rate %> %</td>

        <td><%= report.note %></td>
        <% else %>
        <td colspan='7' class='warning'>This plan does not have a report this week</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<% end %>

<%= link_to 'New Report', new_report_path %>